body{
    margin: 0;
}
.header{
    background: #c62f2f;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;


}
.hid{
    width: 500px;
    height: 50px;
    margin-left: 50px;
}
.hid span{
    font-size: 25px;
    line-height: 50px;
    color: white;
    float: left;
}
#serch{
    margin: 12.5px 0 0 0;
    width: 220px;
    height: 25px;

    background: #a82828;
    border-radius: 25px;
    float:right;
    overflow: hidden;

}
#serch input{
    width: 180px;
    height: 20px;
    margin-left: 10px;
    background: #a82828;
    border: none;
    outline: none;
}
.ul-left{
    margin: 0;
    height: 600px;
    width: 400px;
    overflow-y:auto
}
.ul-left::-webkit-scrollbar {
    width: 2px;
}
.ul-left ul li{
    display: flex;
}
.ul-left ul li b{
    margin-top: 5px;
    background-size: 100%;
    display: block;
    width: 17px;
    height: 17px;
    background-image: url(https://i.loli.net/2020/03/23/chJ89uNpofneFrS.png)
}
.ul-left ul li a{
    margin-left: 10px;
}
.body{
    width: 100%;
    height: 90%;
    flex-grow: 1;
    background-color: #e4e4e6;
    display: flex;
}


.cd{
    position: relative;
    flex-grow: 1;

    border-left: 1px solid #c3c3c3;
    border-right: 1px solid #c3c3c3;
}
.commit{
    width:600px;
    overflow-y:auto;
}
#icon1{
    position: absolute;
    top:0;
    left:50%;
    transform-origin: top left;
}
#icon2{
    width: 388px;
    height: 388px;
    background: url(img/cd.png);
    overflow: hidden;
    margin: 80px auto;
}
#icon2 img{
    width: 275px;
    height: 275px;
    border-radius: 50%;
    margin: 56.5px ;
    overflow: hidden;
}
#musicName {
    width: 100%;
    text-align: center;
}
audio {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    outline: none;
    background-color: #e4e4e6;
}
ul{
    list-style: none;

}
li{
    font-size: 14px;
    margin-top:10px;
    line-height: 30px;
}
li:hover{
    background: lavender;
}
.commit ul li{
    width: 100%;
    min-height: auto;
    border-top: 2px solid #c3c3c3;
    padding: 15px;
}
.username{
    width: 300px;
    height: 50px;
    display: flex;
    color: #537bb4;
    font-size: 14px;
}
#tp{
     width: 50px;
     height: 50px;
     border-radius: 50%;
 }
#myname{
    position: relative;
    top: -5px;
}
[v-cloak]{
    display:none;
}
